/* Write your CSS here */
.container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  height: 40vh;
  width: 50vw;
  border: solid 1px #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}
.heading {
}
.button {
  border: solid 1px #000000;
  height: 50px;
  width: 80px;
}
.dark-mode {
  color: #ffffff;
  background-color: #000000;
}
.light-mode {
  color: #000000;
  background-color: #ffffff;
}
